/* style.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Gudea', sans-serif;
}

body {
  background-color: #f2f2f2;
}

h1 {
  margin-left: 5%;
  color: #698292;
}

#share {
  margin-left: 90%;
}

#description {
  font-size: 1em;
  margin-top: -2%;
  position: absolute;
}

.enterTitel {
  margin: 2% 6% 0%;
  color: #698292;
  font-size: 2em;
}

.subEnterTitel {
  position: absolute;
  margin: -1% 7% 0%;
  color: #a1bdc0;
  font-size: 1.2em;
}

/*login style w. slide animation*/
.loginResult {
  position: absolute;
  color: #dba19b;
  margin-left: 0 auto;
  margin-top: 20%;
}

.login {
  position: relative;
  width: 50%;
  margin-top: 10% auto;
}

.position-wrapper {
  position: absolute;
  width: 70%;
  height: 180px;
  margin-left: 85%;
  margin-top: 10%;
}

/*The mask the login sign pops up from behind*/
.circle-mask {
  position: absolute;
  width: 80%;
  left: 0;
  top: auto;
  bottom: 0;
  overflow: hidden;
  /* Animation */
  animation: slidein 2s 1s normal;
  -moz-animation: slidein 2s 1s normal;
  -o-animation: slidein 2s 1s normal;
  -webkit-animation: slidein 2s 1s normal;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.inner-circle {
  width: 180px;
  height: 180px;
  background: #dba19b;
  border-radius: 100%;
  position: absolute;
  text-align: center;
  line-height: 180px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
}

.inner-circle form {
  position: absolute;
  margin-top: 35%;
  margin-left: 6%;
}

/* Keyframes */
@keyframes slidein {
  0% {
    height: 0;
  }

  100% {
    height: 180px;
  }
}

@-webkit-keyframes slidein {
  0% {
    height: 0;
  }

  100% {
    height: 180px;
  }
}

@-moz-keyframes slidein {
  0% {
    height: 0;
  }

  100% {
    height: 180px;
  }
}

@-o-keyframes slidein {
  0% {
    height: 0;
  }

  100% {
    height: 180px;
  }
}

h2 {
  margin-left: 8%;
  margin-top: -2%;
  color: #a1bdc0;
}

/* resume dashboard*/
.resumeBox {
  background-color: white;
  height: 200px;
  width: 25%;
  list-style: none;
  display: inline-block;
  margin: 2%;
  cursor: pointer;
}

.resumeBox p {
  color: #97a384;
  margin-top: 10%;
  position: absolute;
  margin-left: 5%;
}

.resumeBox a {
  text-decoration: none;
}

.resumeCollection {
  width: 90%;
  text-align: center;
}

.resumeBoxSLider {
  background-color: #a1bdc0;
  opacity: 0.8;
  height: 120px;
  margin-top: 40px;
  position: relative;
}

.resumeBoxSLider p {
  color: black;
  margin-left: 35%;
  margin-top: 20%;
}

.resumeBoxSLider:hover {
  animation: mymove 1s normal;
  -webkit-animation: mymove 1s normal;
}

@keyframes mymove {
  from {
    bottom: 0px;
  }

  to {
    bottom: 40px;
  }
}

@-webkit-keyframes mymove {
  from {
    bottom: 0px;
  }

  to {
    bottom: 40px;
  }
}

#canvas {
  height: 150px;
  width: 100%;
}

#draggable {
  position: absolute;
  margin-left: 74%;
  margin-top: -8%;
  cursor: pointer;
}

#draggable:hover {
  color: #dba19b;
}

#draggable2 {
  position: relative;
  margin-left: 21%;
  margin-top: -8%;
  cursor: pointer;
}

#draggable2:hover {
  color: #dba19b;
}

.arcEvents {
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  -ms-animation-duration: 6s;
  -o-animation-duration: 6s;
  animation-duration: 6s;
}

.animated.hinge {
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  -ms-animation-duration: 6s;
  -o-animation-duration: 6s;
  animation-duration: 6s;
}

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }

  70% {
    -moz-transform: scale(0.9);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3);
  }

  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }

  70% {
    -o-transform: scale(0.9);
  }

  100% {
    -o-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

#firstEvent {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}

#firstEvent {
  margin-left: 25%;
  margin-top: -20%;
  background-color: #97a384;
  border: solid 2px #737373;
}

#secondEvent {
  margin-left: 45%;
  margin-top: -34%;
  background-color: #698292;
  border: solid 2px #737373;
}

#secondEvent {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}

#thirdEvent {
  margin-left: 73.5%;
  margin-top: -14%;
  background-color: #a1bdc0;
  border: solid 2px #737373;
}

#thirdEvent {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}

.slideEvent {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -ms-animation-duration: 8s;
  -o-animation-duration: 8s;
  animation-duration: 8s;
}

.animated.hinge {
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -ms-animation-duration: 8s;
  -o-animation-duration: 8s;
  animation-duration: 8s;
}

@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
  }

  80% {
    -webkit-transform: translateY(10px);
  }

  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes bounceInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
  }

  80% {
    -moz-transform: translateY(10px);
  }

  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes bounceInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    -o-transform: translateY(-30px);
  }

  80% {
    -o-transform: translateY(10px);
  }

  100% {
    -o-transform: translateY(0);
  }
}

@keyframes bounceInUp {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  60% {
    opacity: 1;
    transform: translateY(-30px);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0);
  }
}

#fourthEvent {
  position: absolute;
  margin-left: 45%;
  margin-top: -15%;
  z-index: -1;
  height: 30px;
  -webkit-animation-name: bounceInUp;
  -moz-animation-name: bounceInUp;
  -o-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

#fiveEvent {
  position: absolute;
  margin-left: 43.3%;
  margin-top: -20%;
  font-size: 2.2em;
  height: 30px;
  -webkit-animation-name: bounceInUp;
  -moz-animation-name: bounceInUp;
  -o-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

#videoShow {
  display: none;
  position: absolute;
  margin-top: -25%;
  margin-left: 35%;
}

#slideShare {
  display: none;
  position: absolute;
  margin-top: -25%;
  margin-left: 35%;
}

#twitterStats {
  display: none;
  position: absolute;
  margin-left: 35%;
  margin-top: -25%;
}

#titelDesigner {
  display: block;
  position: absolute;
  margin-top: -36%;
  margin-left: 40%;
}

#titelDesignIntern {
  display: block;
  position: absolute;
  margin-top: -20%;
  margin-left: 17%;
}

#titelSeniorDesigner {
  display: block;
  position: absolute;
  margin-top: -15%;
  margin-left: 76%;
}

#time {
  margin-left: 3%;
  margin-top: 4.5%;
  color: #a1bdc0;
}

#ppl {
  margin-left: 50%;
  margin-top: -5.8%;
  color: #a1bdc0;
}

#pplTwitter {
  margin-top: 15%;
  margin-left: 16%;
}

#sidebar {
  position: absolute;
  margin-top: -610px;
  height: 720px;
  width: 10%;
  margin-left: 1265px;
  opacity: 0.7;
  z-index: 2;
}

#sidebar #plus {
  margin: 28% 0% 0% -6%;
  font-size: 3em;
  color: #737373;
}

#sidebar #text {
  font-size: 1em;
  margin-left: 19%;
  margin-top: 0%;
  text-align: center;
  color: white;
}

#sidebar #addMedia {
  margin-left: 12%;
  margin-top: 5%;
  background-color: white;
  padding: 10%;
  width: 63%;
  height: 70px;
  text-align: center;
}

#sidebar #ImportLink {
  margin-left: 12%;
  margin-top: 5%;
  background-color: white;
  padding: 10%;
  width: 63%;
  height: 70px;
  text-align: center;
}

#sidebar #addCollaborator {
  margin-left: 12%;
  margin-top: 5%;
  background-color: white;
  padding: 10%;
  width: 63%;
  height: 70px;
  text-align: center;
}

#sidebar #SetTimeStamp {
  margin-left: 12%;
  margin-top: 5%;
  background-color: white;
  padding: 10%;
  width: 63%;
  height: 70px;
  text-align: center;
}

#sidebar #ExportPath {
  position: relative;
  margin-top: 50%;
  background-color: #737373;
  color: white;
  margin-left: 12%;
  padding: 10%;
  width: 63%;
  height: 70px;
  text-decoration: none;
  text-align: center;
}

#sidebar:hover {
  margin-left: 1150px;
  background-color: #222d30;
}

#media {
  display: none;
}

#media:hover {
  cursor: pointer;
}

#link {
  display: none;
}

#link:hover {
  cursor: pointer;
}

#collaborator {
  display: none;
}

#collaborator:hover {
  cursor: pointer;
}

#timestamp {
  display: none;
}

.footerLogo img {
  width: 5%;
  margin-left: 90%;
  margin-bottom: -27.5%;
}

footer {
  position: absolute;
  height: 120px;
  background-color: #698292;
  overflow: hidden;
  width: 100%;
  bottom: 0px;
  text-align: center;
}

footer p {
  color: #97a384;
  font-size: 0.8em;
  text-decoration: none;
}

.dashboardFooter {
  position: fixed;
  height: 20px;
  background-color: #698292;
  overflow: hidden;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.dashboardFooter p {
  color: #97a384;
  font-size: 0.8em;
  text-decoration: none;
  margin-bottom: -2%;
}
